

.highway-icon {
width: 100px;
  margin-bottom: 15px;
}

.ticket-icon{
  width: 60px;
  margin-bottom: 35px;
}

.ticket-first{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.ticket-second{
  font-weight: 300;
  font-size: 27px;
  margin-bottom: 45px;
}

.ticket-bookit{
  border: solid 2px rgb(198, 176, 44);
  border-radius: 6px;
  width: 180px;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-weight: 700;
  cursor: pointer;

}