.map-container {
  width: 600px;
  height: 450px;
  margin-top: 50px;
  transform: perspective(1000px) rotateX(0deg);
  z-index: 0;
  box-shadow: 0 0 8px 8px white inset;

  a, .gmnoprint, .gm-style-cc{
    display: none !important;
  }
}

.map-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.left-lines{
  background-image: url('../../img/lines-left.png');
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 200;
  background-repeat: no-repeat;
}

.left-section{
  position: absolute;
  left: -50px;
}